@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif;
}

.content-wrapper {
    padding: 2rem 1rem 0rem 1rem; /* this should be replaced with something more dynamic */
    margin: auto;
}

.content-box {
    margin: auto;
    display: grid;
    max-width: 900px;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding: 1rem;

    -webkit-box-shadow: 1px 3px 15px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 1px 3px 15px 0px rgba(0,0,0,0.05);
    box-shadow: 1px 3px 15px 0px rgba(0,0,0,0.05);

    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0px solid #000000;
    
    transition: 0.3s ease;
}

.content-box:hover {
    -webkit-box-shadow: 1px 3px 15px 0px rgba(0,0,0,0.075);
    -moz-box-shadow: 1px 3px 15px 0px rgba(0,0,0,0.075);
    box-shadow: 1px 3px 15px 0px rgba(0,0,0,0.075);
    transform: translate(0, -1px);
}

.title {
    grid-column: 1/3;
    color: #303030;
}

.text-content {
    grid-column: 1/3;
    color: #303030;
}

#image-content {
    grid-column: 1/3;
}

#text-title {
    padding-bottom: 1rem;
}

@keyframes move-up {
    from {
        trans
    }
    to {

    }
}